* {
    margin: 0;
    padding: 0;
}

.body-home {
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.discordapp.com/attachments/953854339292741672/968492881448939540/6.png?ex=663cc548&is=663b73c8&hm=7960874f345609f7b483bbe064fbcf19e5e52df34a98837ad1bd7ebf9577d825&");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    background-color: black;
}

.body-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
}

.enlace {
    color: rgb(68, 55, 243);
    font-size: 26px;
}

.gif-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.gif-container h1 {
    color: white;
}

.gif {
    width: 300px;
    height: 300px;
}